.btn{
    padding: 10px 20px;
    margin: 20px;
    border-color: transparent;
    border-radius: 5px;
    background: darkturquoise;
    cursor: pointer;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
}