
# Compiled output
Angular/dist
Angular/tmp
Angular/out-tsc
Angular/bazel-out

# Node
Angular/node_modules
Angular/npm-debug.log
Angular/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# Tuffle Node
Truffle/node_modules
Truffle/npm-debug.log
Truffle/yarn-error.log
Truffle/.env