<header>
  <div class="container-fluid">
    <div class="navb-logo" (click)="goToHome()">Blockchain Projects</div>

    <div *ngIf="accounts.length && metamaskInstalled">
      <label style="margin-right: 5px">Accounts</label>
      <select
        id="accountSelect"
        [(ngModel)]="selectedAccount"
        class="account-select"
        (change)="onAccountChange($event)"
      >
        >
        <option *ngFor="let account of accounts" [value]="account">
          {{ account }}
        </option>
      </select>
    </div>

    <div *ngIf="!metamaskInstalled">
      <p class="metamaskLink">MetaMask is not installed <a href="https://metamask.io/download/" target="_blank">Install It Now!</a></p>
    </div>
  </div>
</header>
